<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>battle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">battle</ion-title>
    </ion-toolbar>
  </ion-header>

 TODO: Action Sheet with coin, dice and jokenpo
 TODO: Alert to input card name 
 TODO: Badge to count graveyard and banned cards
 TODO: Add ion-img on cards
 TODO: Menu Lateral para deslogar e acessar perfil
 TODO: Criar Services
 TODO: Toast para sucesso e erro
 TODO: Ion Slider no Walktrough
 TODO: Adicionar icone do app 
 TODO: Adicionar Splash Screen animada
 TODO: Configurar Home Page

</ion-content>
