<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Actions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Find Card</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="card-alert">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Duel!</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
 TODO: Action Sheet with coin, dice and jokenpo
 TODO: Badge to count graveyard and banned cards
 TODO: Add ion-img on cards
 TODO: Menu Lateral para deslogar e acessar perfil
 TODO: Criar Services
 TODO: Toast para sucesso e erro
 TODO: Ion Slider no Walktrough
 TODO: Adicionar icone do app 
 TODO: Adicionar Splash Screen animada
 TODO: Configurar Home Page
  </ion-content>
</div>
<ion-alert
  trigger="card-alert"
  header="Please enter the card name"
  [buttons]="cardNameButtons"
  [inputs]="cardNameInputs"
></ion-alert>