* {
    font-family: monospace;
    box-sizing: border-box;
}

h1 {
    font-family: cursive;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
    color: #fff;
}

form {
    display: grid;
    grid-template-rows: 1fr auto; 
    height: 80vh;
}

ion-card-header {
    padding-bottom: 0;
}

.anonymous-container {
    background-color: rgb(42, 42, 42);
    height: 100vh;
}

@media (min-width: 769px) {
    .anonymous-container {
        width: 30%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .anonymous-container {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    }
    .summon-transition {
        animation: millenniumAnimation 2s forwards;
    }
}

@keyframes millenniumAnimation {
    from {
        clip-path: polygon(18% 100%, 80% 100%, 80% 100%, 20% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    }
}
